[submodule "sveltekit-ultimate"]
	branch = main
	path = sveltekit-ultimate
	url = https://github.com/storyblok/sveltekit-ultimate-tutorial-series

[submodule "sveltekit"]
	branch = main
	path = sveltekit
	url = https://github.com/roberto-butti/example-sveltekit
